name: 'HyperSpeed'
scopeName: 'hyperspeed'
type: 'tree-sitter'
parser: 'tree-sitter-hyperspeed'
scopes: 
    '''
    '+',
    '-',
    '*',
    '/',
    '>>',
    '<<',
    '.',
    '='
    '@'
    '!'
    '$'
    '%'
    '&'
    ''': 'keyword.operator'
    '''
    'if',
    'elif',
    'else'
    ''': 'keyword.control'